@import "./base.css";

* {
  font-family: sans-serif;

  line-height: 1.12em;
}
#__nuxt {
  background-color: rgb(15, 11, 15);
  color: white;
  margin: 0 auto;

  font-weight: normal;
}
body {
  overflow-x: hidden;
}
main {
  overflow-x: hidden;
  min-height: 100vh;
}
